{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      h1 {
        color: green;
      }
    </style>
  </head>
  <body>
    {% block content %}
    <table class="table table-hover table-bordered table-striped">
      {% for item in items %}
      <tr>
        <td>{{ item.username }}</td>  
        <td>{{ item.product_name }}</td>
        <td>{{ item.review }}</td>
    </tr>
      {% endfor %}
    </table>
    
    {% endblock %}
  </body>
</html>